/* src/App.css */
.App {
  text-align: center; /* Centra el contenido en línea como el h1 */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}

/* Si quieres centrar el EventCard que es un block element */
/* main {
  display: flex;
  justify-content: center;
} */